[submodule "auth"]
	path = auth
	url = git@github.com:Vollab/auth.git
[submodule "user"]
	path = user
	url = git@github.com:Vollab/user.git
[submodule "demand"]
	path = demand
	url = git@github.com:Vollab/demand.git
[submodule "web"]
	path = web
	url = git@github.com:Vollab/web.git
