[submodule "auth"]
	path = auth
	url = git@github.com:Vollab/auth.git
[submodule "vacancy"]
	path = vacancy
	url = git@github.com:Vollab/vacancy.git
[submodule "demand"]
	path = demand
	url = git@github.com:Vollab/demand.git
[submodule "web"]
	path = web
	url = git@github.com:Vollab/web.git
